@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #bedfe8;
}
.accordium {
    max-width: 800px;
}
.contextBx {
    position: relative;
    margin: 10px 20px;
}
.contextBx .label {
    position: relative;
    padding: 10px;
    background-color: #2694af;
    color: #fff;
    cursor: pointer;
}
.contextBx .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5rem;
}
.contextBx .context {
    position: relative;
    background-color: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease;
}
