* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient(to bottom, #0250c5, #d43fad);
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    width: 330px;
    background-color: #fff;
    border-radius: 5px;
    padding: 50px 30px 10px 35px;
    margin: 30px 0;
}
.imgcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.slideImg {
    display: flex;
    position: absolute;
    left: 17px;
    transition: left 300ms ease-in-out;
}
.img {
    width: 228px;
    height: 427px;
    border-radius: 30px;
    margin-right: 25px;
}
