* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}
.center {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.outer {
    margin: 0 50px;
    background: #111;
    position: relative;
}
.button {
    width: 220px;
    height: 70px;
    border-radius: 50px;
}
.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.outer button {
    background-color: #111;
    color: #f2f2f2;
    outline: none;
    border: none;
    font-size: 20px;
    z-index: 9;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}
.button button {
    width: 210px;
    height: 60px;
    border-radius: 50px;
}
.circle button {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.outer button,
.outer span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.outer span {
    height: 100%;
    width: 100%;
    background: inherit;
}
.button span {
    border-radius: 50px;
}
.circle span {
    border-radius: 50%;
}
.outer span:nth-child(1) {
    filter: blur(7px);
}
.outer span:nth-child(2) {
    filter: blur(14px);
}
.outer:hover {
    animation: rotate 1.5s linear infinite;
    background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
}
@keyframes rotate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .outer {
        margin: 50px 10px;
    }
}